@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

h1 {
    font-family: 'Passion One', cursive;
    font-weight: 700;
    font-size: 8em;
    padding: 10px;
    margin: auto;
}

.first-letter {
    font-size: 1.7em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main {
    font-family: 'Sriracha', cursive;
    font-size: 1.6em;
    margin-bottom: 50px;
}

main p {
    width: 100%;
    height: 100%;
    padding: 10vh 0px 10vh 30px;
    text-align: left;
    font-size: 3.5vw;
    line-height: 2em;
}

.flor {
    background-image: url('imagens/background001.jpg');
    background-size: auto;
    color: white;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
}

.cartas {
    background-image: url('imagens/background002.jpg');
    color: white;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}